.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота на весь экран */
    width: 100vw;
}

.content {
    flex: 1; /* Занимает всё доступное пространство */
}

.circularProgressContainer {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}